In [13]:
import yfinance as yf
import pandas as pd

In [14]:
#Ahora anotamos el pnemotecnico, el cual lo encontraremos yendo a la pagina de yahooFinance y colocando en su barra de búsqueda el nombre de la empresa , por ejemplo, si ponemos 'Tesla' nos devuelve 'TSLA'

simbolo = 'TSLA'

#aqui usamos la funcion Ticker de yf, usando como parametro el pnemotecnico guardado en la variable
tesla = yf.Ticker(simbolo)

In [15]:
#ahora le pedimos el precio historico, usando la funcion history, cuyo unico parametro es period, le pediremos la mayor cantidad de tiempo que tenga en sus registros

tesla.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
...,...,...,...,...,...,...,...
2024-08-30 00:00:00-04:00,208.630005,214.570007,207.029999,214.110001,63370600,0.0,0.0
2024-09-03 00:00:00-04:00,215.259995,219.899994,209.639999,210.600006,76500900,0.0,0.0
2024-09-04 00:00:00-04:00,210.589996,222.220001,210.570007,219.410004,80651800,0.0,0.0
2024-09-05 00:00:00-04:00,223.490005,235.000000,222.250000,230.169998,119355000,0.0,0.0
2024-09-06 00:00:00-04:00,232.600006,233.600006,210.509995,210.729996,111652800,0.0,0.0

In [12]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

def get_stock_data(symbol, start_date=None, end_date=None):
    if start_date is None:
        start_date = datetime.now() - timedelta(days=30)  # Último año
    if end_date is None:
        end_date = datetime.now()
    
    try:
        stock = yf.Ticker(symbol)
        df = stock.history(start=start_date, end=end_date)
        
        if df.empty:
            print(f"No se encontraron datos para {symbol} en el período especificado.")
            return None
        
        return df
    except Exception as e:
        print(f"Error al obtener datos para {symbol}: {e}")
        return None

# Uso
simbolo = 'PLTR'
datos_tesla = get_stock_data(simbolo)

if datos_tesla is not None:
    print(datos_tesla.head())
else:
    print("No se pudieron obtener los datos. Verifica el símbolo o intenta con un período diferente.")

                                Open       High        Low      Close  \
Date
2024-08-08 00:00:00-04:00  27.040001  29.375000  26.690001  29.280001
2024-08-09 00:00:00-04:00  29.280001  30.360001  29.100000  30.010000
2024-08-12 00:00:00-04:00  30.219999  31.200001  29.270000  29.379999
2024-08-13 00:00:00-04:00  29.789000  30.850000  29.559999  30.389999
2024-08-14 00:00:00-04:00  30.620001  31.370001  30.330000  31.000000

                             Volume  Dividends  Stock Splits
Date
2024-08-08 00:00:00-04:00  96892900        0.0           0.0
2024-08-09 00:00:00-04:00  88131100        0.0           0.0
2024-08-12 00:00:00-04:00  67890300        0.0           0.0
2024-08-13 00:00:00-04:00  57294200        0.0           0.0
2024-08-14 00:00:00-04:00  49885600        0.0           0.0